UCG/Docker/data/.flows.json.backup
[{"id":"d75b670e.fdf438","type":"tab","label":"Mobile"},{"id":"e6126968.dddaa","type":"subflow","name":"SetNodeRedSession","info":"","in":[{"x":53.5,"y":55,"wires":[{"id":"c8620933.bc367"}]}],"out":[]},{"id":"adec5d86.540a1","type":"subflow","name":"SetCloundantSession","info":"","in":[{"x":35,"y":46,"wires":[{"id":"1c813ef0.4b9109"}]}],"out":[]},{"id":"99f74819.77fb08","type":"subflow","name":"SetRedisSession","info":"","in":[{"x":51.76470756530762,"y":55.88235282897949,"wires":[{"id":"4ea1bcba.b9df34"}]}],"out":[]},{"id":"52457267.ef5464","type":"subflow","name":"Set Session","info":"","in":[{"x":64.9444580078125,"y":40.222259521484375,"wires":[{"id":"eddc016.e71f68"}]}],"out":[{"x":384.9444580078125,"y":40.222259521484375,"wires":[{"id":"eddc016.e71f68","port":0}]}]},{"id":"9a3e1887.082ce","type":"subflow","name":"GetNodeRedSession","info":"","in":[{"x":65.5,"y":62,"wires":[{"id":"66106324.674b8c"}]}],"out":[{"x":365.5,"y":62,"wires":[{"id":"66106324.674b8c","port":0}]}]},{"id":"2388240a.50e91c","type":"subflow","name":"GetCloudantSession","info":"","in":[{"x":41,"y":45,"wires":[{"id":"c50406ed.2c817"}]}],"out":[{"x":734,"y":45,"wires":[{"id":"d25d9cc7.111198","port":0}]}]},{"id":"be024f13.40d248","type":"subflow","name":"GetRedisSession","info":"","in":[{"x":33.48760986328125,"y":71.6234130859375,"wires":[{"id":"45e18f63.d4984"}]}],"out":[{"x":790.480224609375,"y":71.38070678710938,"wires":[{"id":"42337c2f.812434","port":0}]}]},{"id":"f48845d6.67899","type":"subflow","name":"Get Session","info":"","in":[{"x":53.983917236328125,"y":43.61785888671875,"wires":[{"id":"1b432e31.ea73ba"}]}],"out":[{"x":393.9839172363281,"y":43.61785888671875,"wires":[{"id":"1b432e31.ea73ba","port":0}]}]},{"id":"c4fe3fc7.317438","type":"redis-config","z":"","host":"bluemix-sandbox-dal-9-portal.7.dblayer.com","port":"27247","dbase":"0","pass":"IVKPWZBPOAJYQCRR"},{"id":"c8620933.bc367","type":"function","z":"e6126968.dddaa","name":"Set Session","func":"global.set(\"session_\" + msg.payload.convoUser, msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":179.5,"y":54,"wires":[[]]},{"id":"1c813ef0.4b9109","type":"http request","z":"adec5d86.540a1","name":"Cloudant-HTTPS","method":"POST","ret":"txt","url":"https://bdea5362-c793-408b-9b0a-698c42002903-bluemix.cloudant.com/session","tls":"","x":205,"y":46,"wires":[[]]},{"id":"4ea1bcba.b9df34","type":"function","z":"99f74819.77fb08","name":"Set Session-Cache","func":"\nmsg.payload = [msg.payload.convoUser, JSON.stringify(msg.payload)]\n\nreturn msg;","outputs":1,"noerr":0,"x":195,"y":55.38446044921875,"wires":[["2a9f3af6.3b2746"]]},{"id":"2a9f3af6.3b2746","type":"redis-command","z":"99f74819.77fb08","server":"c4fe3fc7.317438","command":"set","name":"","topic":"","x":384.41175842285156,"y":57.05882453918457,"wires":[[]]},{"id":"eddc016.e71f68","type":"function","z":"52457267.ef5464","name":"Define Session","func":"//New Database Seesion Mgt\n// convoUser - Unique user id across channels\n// ConvoTS - Timestamp of actual WCS Call\n// convoSource - Source Channel Name, will be used in Convo\n//             - Examples (Alexa,Google Home, Slack, Phone, WebChat, Mobile)\n//convoPayload - actual return from WCS\n// Database document will be calles session\n// -- Index on convoUser and convoTS\n// -- We will write all WCS turns into the table\n// -- On retrieval  of the user session\n//    -- We will search by index put back last 5 documents sorted by convoTS descending\n//    -- assures first document will be the latest WCS user convo\n\n\nvar sessionMsg = {\n    payload : {\n    convoUser : msg.user,\n    convoTS : Date(),\n    convoSource : msg.source,\n    convoPayload : msg.payload\n    }\n}\n\nreturn [msg,sessionMsg];","outputs":"2","noerr":0,"x":224.9444580078125,"y":40.222259521484375,"wires":[[],[]]},{"id":"c5dfed90.5ad1c8","type":"subflow:99f74819.77fb08","z":"52457267.ef5464","x":441.9765625,"y":101.17121887207031,"wires":[]},{"id":"38a84ddb.1b109a","type":"subflow:adec5d86.540a1","z":"52457267.ef5464","name":"SetCloudantSession","x":456,"y":156,"wires":[]},{"id":"31360d1b.b235f2","type":"subflow:e6126968.dddaa","z":"52457267.ef5464","x":456.5,"y":214,"wires":[]},{"id":"3ae6296.72d81d6","type":"comment","z":"52457267.ef5464","name":"Wire up a Session storage subflow","info":"For prototyping use SetNodeRedSession\n\nFor Enterprise use either Redis or Cloudant\n\nNote you will need a Redis/Cloudant service if\npick one of the Enterprise methods.","x":164.5,"y":148,"wires":[]},{"id":"66106324.674b8c","type":"function","z":"9a3e1887.082ce","name":"Get Session","func":"msg.session = global.get(\"session_\" + msg.user); \n\nreturn msg;","outputs":1,"noerr":0,"x":215.5,"y":62,"wires":[[]]},{"id":"6b17feee.d81d48","type":"comment","z":"2388240a.50e91c","name":"Must have cloudant Index on convoUser and convoTS ","info":"","x":329.48028564453125,"y":99.02044677734375,"wires":[]},{"id":"c50406ed.2c817","type":"function","z":"2388240a.50e91c","name":"Get Session","func":"msg.savePayload = msg.payload\n\nmsg.headers = {\"Content-type\" : \"application/json\"}\nmsg.url = \"https://bdea5362-c793-408b-9b0a-698c42002903-bluemix.cloudant.com/session/_find\"\n\n//testing new users\n//msg.user = \"dennisnoto@gmail.com\"\n\nmsg.payload = {selector: {\n     convoUser: {$eq: msg.user}     },\n     sort: [{convoUser:\"desc\"},{convoTS: \"desc\"}],    \n     limit: 5\n}\n\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":161,"y":46,"wires":[["a6db8e07.937ce8"]]},{"id":"d25d9cc7.111198","type":"function","z":"2388240a.50e91c","name":"Set Session","func":"//sesion object from Cloudant DB\n\nif (typeof msg.payload.docs !== \"undefined\")\n  {msg.session = msg.payload.docs[0]}\nelse \n  { \n      \n}\n   \n//reset payload from channel to continue flow\nmsg.payload = msg.savePayload\nreturn msg;","outputs":1,"noerr":0,"x":584,"y":45,"wires":[[]]},{"id":"a6db8e07.937ce8","type":"http request","z":"2388240a.50e91c","name":"Cloudant-HTTPS","method":"POST","ret":"obj","url":"","tls":"","x":392,"y":46,"wires":[["d25d9cc7.111198"]]},{"id":"45e18f63.d4984","type":"function","z":"be024f13.40d248","name":"Get Session","func":"msg.savePayload = msg.payload\n\nmsg.payload = [msg.user]\n\nreturn msg;","outputs":1,"noerr":0,"x":183.48760986328125,"y":71.6234130859375,"wires":[["f09cb9a3.83e488"]]},{"id":"42337c2f.812434","type":"function","z":"be024f13.40d248","name":"Set Session","func":"if (typeof msg.payload.convoUser !== \"undefined\" )\n  {msg.session = msg.payload}\nelse \n  { \n      \n}\n   \n//reset payload from channel to continue flow\nmsg.payload = msg.savePayload\nreturn msg;","outputs":1,"noerr":0,"x":640.480224609375,"y":71.38070678710938,"wires":[[]]},{"id":"92ab3b31.ce168","type":"json","z":"be024f13.40d248","name":"","x":490.4765930175781,"y":71.85501098632812,"wires":[["42337c2f.812434"]]},{"id":"f09cb9a3.83e488","type":"redis-command","z":"be024f13.40d248","server":"c4fe3fc7.317438","command":"get","name":"","topic":"","x":340.88235294117635,"y":72.35294117647057,"wires":[["92ab3b31.ce168"]]},{"id":"1b432e31.ea73ba","type":"subflow:be024f13.40d248","z":"f48845d6.67899","name":"","x":223.98391723632812,"y":43.61785888671875,"wires":[[]]},{"id":"309ede5e.264572","type":"subflow:2388240a.50e91c","z":"f48845d6.67899","x":230.5,"y":114.01022338867188,"wires":[[]]},{"id":"772b2051.cf3d78","type":"subflow:9a3e1887.082ce","z":"f48845d6.67899","name":"","x":226.5,"y":185,"wires":[[]]},{"id":"50064fe5.6d1a4","type":"comment","z":"f48845d6.67899","name":"Wire up at least one of the Session functions","info":"Choose \n   GetNodeRedSession for prototyping\n   \nEnterprise use\nChoose \n   GetCloudantSeesion for DB Session\nor\n   GetRedisSession for Memory Cache\n   \nPlease note that you will need to wire up the\ncorresponding Set Session subflow","x":227.5,"y":249,"wires":[]},{"id":"2f4f9043.32134","type":"http in","z":"d75b670e.fdf438","name":"Mobile HTTP in","url":"/mobile","method":"post","swaggerDoc":"","x":118,"y":101.77775573730469,"wires":[["e56a6852.51062"]]},{"id":"60377fd8.b60ca","type":"function","z":"d75b670e.fdf438","name":"Set Params","func":"msg.source = \"Mobile\"\nvar temp_msg = msg.payload.input\nvar workspace_id = msg.payload.workspace_id\nvar fname = msg.payload.fname\nvar lname = msg.payload.lname\nvar nname = msg.payload.nname\nvar cvalue1 = msg.payload.cvalue1\nvar cvalue2 = msg.payload.cvalue2\nvar cvalue3 = msg.payload.cvalue3\n\n\nvar context = {}\n\nif (typeof msg.session !== \"undefined\") \n   {context = msg.session.convoPayload.context}\n   \nif (typeof context.button == \"object\"){\n    delete context.button\n    node.log(\"after delete - context\" + JSON.stringify(context))\n}\nif (typeof context.map == \"object\"){\n    delete context.map\n}\nif (typeof context.movie == \"object\"){\n    delete context.movie\n}\nif (typeof context.checkbox == \"object\"){\n    delete context.checkbox\n}\nif (typeof context.barscore == \"object\"){\n    delete context.barscore\n}\n\n\nif (temp_msg.substring(0,2) == 'Hi') {\n   //Uncomment if you want the convo to start at begining when app starts\n   //context = {}\n}\n\ncontext.username = msg.user\ncontext.fname = fname\ncontext.lname = lname\ncontext.nname = nname\ncontext.cvalue1 = cvalue1\ncontext.cvalue2 = cvalue2\ncontext.cvalue3 = cvalue3 \n\n\n//node.log(JSON.stringify(msg.payload));\nmsg.payload = temp_msg;\n\nif (msg.payload.lastIndexOf('/') >= 0 ) {\n     var myindex = msg.payload.lastIndexOf('/')\n     node.log(\"index at: \" + myindex)\n     var dateString = msg.payload\n     node.log(\"dateString : \" + dateString)\n     \n     var d = new Date(dateString)\n     node.log(\"d : \" + d)\n     var now = new Date()\n     node.log(\"today: \" + now)\n     var years = now.getFullYear() - d.getFullYear()\n     node.log(\"years: \" + years)\n     \n     d.setFullYear(d.getFullYear() + years)\n     var days = (now.getTime() - d.getTime()) / (3600 * 24 * 1000.00)\n     node.log(\"days: \" + days)\n     var age = years + days /365\n    \n     context.age = Math.round(age *100)/100\n     node.log(\"age: \"+ context.age)\n \n     var d = new Date(dateString)\n     var now = new Date()\n     now.setMonth(\"12\")\n     now.setDate(\"31\")\n     var years = now.getFullYear() - d.getFullYear()\n     d.setFullYear(d.getFullYear() + years)\n     var days = (now.getTime() - d.getTime()) / (3600 * 24 * 1000.00)\n     var ageEOY = years + days /365\n     context.ageEOY = Math.round(ageEOY * 100)/100\n     node.log(\"ageEOY: \"+ context.ageEOY)\n     \n     var d = new Date(dateString)\n     var now = new Date()\n     now.setMonth(\"01\")\n     now.setDate(\"01\")\n     var years = now.getFullYear() - d.getFullYear()\n     d.setFullYear(d.getFullYear() + years)\n     var days = (now.getTime() - d.getTime()) / (3600 * 24 * 1000.00)\n     var ageBOY = years + days /365\n     context.ageBOY = Math.round(ageBOY * 100)/100\n     node.log(\"ageBOY: \"+ context.ageBOY)\n}\n\n\nnode.log(workspace_id);\n\nvar params = {\n     context: context, \n     workspace_id : workspace_id }\n\nmsg.payload = temp_msg\nmsg.params = params\n\nreturn msg\n","outputs":1,"noerr":0,"x":609,"y":102.77775573730469,"wires":[["41961156.9489c8","cf5a411.b747cc"]]},{"id":"1babb086.be4e37","type":"watson-conversation-v1","z":"d75b670e.fdf438","name":"","workspaceid":"71fb6c7d-730c-45ea-94e5-e7704b0eb4ca","multiuser":false,"context":false,"default-endpoint":false,"service-endpoint":"","x":1055.888916015625,"y":102.11109924316406,"wires":[["1f55c4cb.9fa1e3"]]},{"id":"b035f29b.cd81a","type":"function","z":"d75b670e.fdf438","name":"Response Msg","func":"var Watson_msg = msg.payload;\n\nvar Watson_response = JSON.stringify(msg.payload.output.text);\nvar Watson_context = JSON.stringify(msg.payload.context);\nnode.log(Watson_response)\n\nMyresponse = Watson_response.substring(2,Watson_response.length-2);\n\nif (Myresponse.substring(0,Myresponse,2) == \"\\\",\\\"\") {\n     Myresponse = Myresponse.substring(3,Myresponse.length)\n     node.log(\"Found a comma\")\n     node.log(Myresponse)\n}\n    \n// Dennis added because SSML tag was escaping the \" with \\\" and the replace command fixes it!!!!\nMyresponse = Myresponse.replace(/\\\\/g, \"\");\n\nvar response = {\n //   text: Watson_response.substring(2,Watson_response.length-2),\n    text: Myresponse,\n    username: \"Watson\",\n    context: Watson_context\n};\n\n//var Watson_gvar = global.get(\"Watson_mobile_context\"); \nnode.log(JSON.stringify(response))\n\nmsg.payload = response\n\nreturn msg","outputs":1,"noerr":0,"x":828.333251953125,"y":248,"wires":[["55ff4025.e8fc88","ef3f0c77.fd6408"]]},{"id":"55ff4025.e8fc88","type":"http response","z":"d75b670e.fdf438","name":"Http Response","x":1043.5,"y":248.5555419921875,"wires":[]},{"id":"41961156.9489c8","type":"watson-tone-analyzer-v3","z":"d75b670e.fdf438","name":"Tone","tones":"all","sentences":"true","contentType":"false","default-endpoint":false,"service-endpoint":"","x":764.7222290039062,"y":101.66664123535156,"wires":[["9a74bd1c.3dec38"]]},{"id":"9a74bd1c.3dec38","type":"function","z":"d75b670e.fdf438","name":"add Tone","func":"\nnode.log(\"*********Found Tone ********\" + msg.response.document_tone.tone_categories[0].tones[0].tone_id);\nnode.log(\"*********Found Tone **Score*****\" + msg.response.document_tone.tone_categories[0].tones[0].score.toFixed(3));\n\nmsg.params.context.angerName = msg.response.document_tone.tone_categories[0].tones[0].tone_name;\nmsg.params.context.angerScore = msg.response.document_tone.tone_categories[0].tones[0].score.toFixed(3);\nmsg.params.context.disgustName = msg.response.document_tone.tone_categories[0].tones[1].tone_name;\nmsg.params.context.disgustScore = msg.response.document_tone.tone_categories[0].tones[1].score.toFixed(3);\nmsg.params.context.fearName = msg.response.document_tone.tone_categories[0].tones[2].tone_name;\nmsg.params.context.fearScore = msg.response.document_tone.tone_categories[0].tones[2].score.toFixed(3);\nmsg.params.context.joyName = msg.response.document_tone.tone_categories[0].tones[3].tone_name;\nmsg.params.context.joyScore = msg.response.document_tone.tone_categories[0].tones[3].score.toFixed(3);\nmsg.params.context.sadnessName = msg.response.document_tone.tone_categories[0].tones[4].tone_name;\nmsg.params.context.sadnessScore = msg.response.document_tone.tone_categories[0].tones[4].score.toFixed(3);\n\nmsg.params.context.analyticalName = msg.response.document_tone.tone_categories[1].tones[0].tone_name;\nmsg.params.context.analyticalScore = msg.response.document_tone.tone_categories[1].tones[0].score.toFixed(3);\nmsg.params.context.confidentName = msg.response.document_tone.tone_categories[1].tones[1].tone_name;\nmsg.params.context.confidentScore = msg.response.document_tone.tone_categories[1].tones[1].score.toFixed(3);\nmsg.params.context.tentativeName = msg.response.document_tone.tone_categories[1].tones[2].tone_name;\nmsg.params.context.tentativeScore = msg.response.document_tone.tone_categories[1].tones[2].score.toFixed(3);\n\nmsg.params.context.OpenName = msg.response.document_tone.tone_categories[2].tones[0].tone_name;\nmsg.params.context.OpenScore = msg.response.document_tone.tone_categories[2].tones[0].score.toFixed(3);\nmsg.params.context.conTitle = msg.response.document_tone.tone_categories[2].tones[1].tone_name;\nmsg.params.context.conScore = msg.response.document_tone.tone_categories[2].tones[1].score.toFixed(3);\nmsg.params.context.extName = msg.response.document_tone.tone_categories[2].tones[2].tone_name;\nmsg.params.context.extScore = msg.response.document_tone.tone_categories[2].tones[2].score.toFixed(3);\nmsg.params.context.agreeName = msg.response.document_tone.tone_categories[2].tones[3].tone_name;\nmsg.params.context.agreeScore = msg.response.document_tone.tone_categories[2].tones[3].score.toFixed(3);\nmsg.params.context.emoName = msg.response.document_tone.tone_categories[2].tones[4].tone_name;\nmsg.params.context.emoScore = msg.response.document_tone.tone_categories[2].tones[4].score.toFixed(3);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":899.0555419921875,"y":102.55552673339844,"wires":[["1babb086.be4e37"]]},{"id":"cf5a411.b747cc","type":"debug","z":"d75b670e.fdf438","name":"","active":true,"console":"false","complete":"true","x":745.5,"y":27,"wires":[]},{"id":"ef3f0c77.fd6408","type":"debug","z":"d75b670e.fdf438","name":"","active":true,"console":"false","complete":"false","x":1031.5,"y":323,"wires":[]},{"id":"e56a6852.51062","type":"function","z":"d75b670e.fdf438","name":"Get User","func":"msg.user = msg.payload.username;\n\nreturn msg;","outputs":1,"noerr":0,"x":282.5,"y":102,"wires":[["baac9a61.dc6cc"]]},{"id":"baac9a61.dc6cc","type":"subflow:f48845d6.67899","z":"d75b670e.fdf438","name":"","x":439.5,"y":103,"wires":[["60377fd8.b60ca"]]},{"id":"1f55c4cb.9fa1e3","type":"subflow:52457267.ef5464","z":"d75b670e.fdf438","x":631.5,"y":249,"wires":[["b035f29b.cd81a"]]}]