UCG/Flows/Mobile.json
[{"id":"79b78c8b.bc9bc4","type":"http in","z":"67ae22f3.f1d3ac","name":"Mobile HTTP in","url":"/mobile","method":"post","swaggerDoc":"","x":141,"y":89.77775573730469,"wires":[["4f93cd85.baaf54"]]},{"id":"4f93cd85.baaf54","type":"function","z":"67ae22f3.f1d3ac","name":"Set Params","func":"var temp_msg = msg.payload.input;\nvar workspace_id = msg.payload.workspace_id;\nvar fname = msg.payload.fname;\nvar lname = msg.payload.lname;\nvar nname = msg.payload.nname;\nvar cvalue1 = msg.payload.cvalue1;\nvar cvalue2 = msg.payload.cvalue2;\nvar cvalue3 = msg.payload.cvalue3;\n\nvar test  = JSON.stringify(msg.payload.context);\nnode.log(test)\nnode.log(test.length)\nif (test.length > 5) {\n  var context = JSON.parse(msg.payload.context);\n  //adding outbound data from iphone contact\n  context.fname = fname\n  context.lname = lname\n  context.nname = nname\n  context.cvalue1 = cvalue1\n  context.cvalue2 = cvalue2\n  context.cvalue3 = cvalue3 }\nelse { \n  var context = JSON.parse(\"{}\");}   \n\n//node.log(JSON.stringify(msg.payload));\nmsg.payload = temp_msg;\n\nif (msg.payload.lastIndexOf('/') >= 0 ) {\n     var myindex = msg.payload.lastIndexOf('/')\n     node.log(\"index at: \" + myindex)\n     var dateString = msg.payload\n     node.log(\"dateString : \" + dateString)\n     \n     var d = new Date(dateString)\n     node.log(\"d : \" + d)\n     var now = new Date()\n     node.log(\"today: \" + now)\n     var years = now.getFullYear() - d.getFullYear()\n     node.log(\"years: \" + years)\n     \n     d.setFullYear(d.getFullYear() + years)\n     var days = (now.getTime() - d.getTime()) / (3600 * 24 * 1000.00)\n     node.log(\"days: \" + days)\n     var age = years + days /365\n    \n     context.age = Math.round(age *100)/100\n     node.log(\"age: \"+ context.age)\n \n     var d = new Date(dateString)\n     var now = new Date()\n     now.setMonth(\"12\")\n     now.setDate(\"31\")\n     var years = now.getFullYear() - d.getFullYear()\n     d.setFullYear(d.getFullYear() + years)\n     var days = (now.getTime() - d.getTime()) / (3600 * 24 * 1000.00)\n     var ageEOY = years + days /365\n     context.ageEOY = Math.round(ageEOY * 100)/100\n     node.log(\"ageEOY: \"+ context.ageEOY)\n     \n     var d = new Date(dateString)\n     var now = new Date()\n     now.setMonth(\"01\")\n     now.setDate(\"01\")\n     var years = now.getFullYear() - d.getFullYear()\n     d.setFullYear(d.getFullYear() + years)\n     var days = (now.getTime() - d.getTime()) / (3600 * 24 * 1000.00)\n     var ageBOY = years + days /365\n     context.ageBOY = Math.round(ageBOY * 100)/100\n     node.log(\"ageBOY: \"+ context.ageBOY)\n}\n\n\nnode.log(workspace_id);\n\nvar params = {\n     context: context, \n     workspace_id : workspace_id }\n\n//return msg;\n\nreturn {\n    payload: temp_msg,\n    params : params,\n    req : msg.req,\n    res : msg.res\n};\n","outputs":1,"noerr":0,"x":335,"y":89.77775573730469,"wires":[["53d56314.b323c4","5fa734ec.66c3dc"]]},{"id":"924b154c.c5c358","type":"watson-conversation-v1","z":"67ae22f3.f1d3ac","name":"","workspaceid":"71fb6c7d-730c-45ea-94e5-e7704b0eb4ca","multiuser":false,"context":false,"x":695.8888931274414,"y":86.11109733581543,"wires":[["d160307.e3fd25"]]},{"id":"d160307.e3fd25","type":"function","z":"67ae22f3.f1d3ac","name":"Response Msg","func":"\n\nvar Watson_msg = msg.payload;\n\nvar Watson_response = JSON.stringify(msg.payload.output.text);\nvar Watson_context = JSON.stringify(msg.payload.context);\nnode.log(Watson_response)\n//global.set(\"Watson_mobile_context\", msg.payload.context);\n\nMyresponse = Watson_response.substring(2,Watson_response.length-2);\n\n// causing issues for multiple output responses\n//if (Myresponse.match(\"\\\",\\\"\")) {\n  if (Myresponse.substring(0,Myresponse,2) == \"\\\",\\\"\") {\n     Myresponse = Myresponse.substring(3,Myresponse.length)\n     node.log(\"Found a comma\")\n     node.log(Myresponse)\n}\n    \n// Dennis added because SSML tag was escaping the \" with \\\" and the replace command fixes it!!!!\nMyresponse = Myresponse.replace(/\\\\/g, \"\");\n\nvar response = {\n //   text: Watson_response.substring(2,Watson_response.length-2),\n    text: Myresponse,\n    username: \"Watson\",\n    context: Watson_context\n};\n\n//var Watson_gvar = global.get(\"Watson_mobile_context\"); \nnode.log(JSON.stringify(response));\n\nvar newMsg = {payload: response};\nnewMsg.req  = msg.req;\nnewMsg.res = msg.res;\n\nreturn  newMsg;","outputs":1,"noerr":0,"x":872.333251953125,"y":86,"wires":[["dc7198ad.bbd608","4d80e946.4cbfa8"]]},{"id":"dc7198ad.bbd608","type":"http response","z":"67ae22f3.f1d3ac","name":"Http Response","x":1076.5000038146973,"y":166.55553817749023,"wires":[]},{"id":"53d56314.b323c4","type":"watson-tone-analyzer-v3","z":"67ae22f3.f1d3ac","name":"Tone","tones":"all","sentences":"true","contentType":"false","x":420.7222137451172,"y":167.66663646697998,"wires":[["d791ad99.bdba58"]]},{"id":"d791ad99.bdba58","type":"function","z":"67ae22f3.f1d3ac","name":"add Tone","func":"\nnode.log(\"*********Found Tone ********\" + msg.response.document_tone.tone_categories[0].tones[0].tone_id);\nnode.log(\"*********Found Tone **Score*****\" + msg.response.document_tone.tone_categories[0].tones[0].score.toFixed(3));\n\nmsg.params.context.angerName = msg.response.document_tone.tone_categories[0].tones[0].tone_name;\nmsg.params.context.angerScore = msg.response.document_tone.tone_categories[0].tones[0].score.toFixed(3);\nmsg.params.context.disgustName = msg.response.document_tone.tone_categories[0].tones[1].tone_name;\nmsg.params.context.disgustScore = msg.response.document_tone.tone_categories[0].tones[1].score.toFixed(3);\nmsg.params.context.fearName = msg.response.document_tone.tone_categories[0].tones[2].tone_name;\nmsg.params.context.fearScore = msg.response.document_tone.tone_categories[0].tones[2].score.toFixed(3);\nmsg.params.context.joyName = msg.response.document_tone.tone_categories[0].tones[3].tone_name;\nmsg.params.context.joyScore = msg.response.document_tone.tone_categories[0].tones[3].score.toFixed(3);\nmsg.params.context.sadnessName = msg.response.document_tone.tone_categories[0].tones[4].tone_name;\nmsg.params.context.sadnessScore = msg.response.document_tone.tone_categories[0].tones[4].score.toFixed(3);\n\nmsg.params.context.analyticalName = msg.response.document_tone.tone_categories[1].tones[0].tone_name;\nmsg.params.context.analyticalScore = msg.response.document_tone.tone_categories[1].tones[0].score.toFixed(3);\nmsg.params.context.confidentName = msg.response.document_tone.tone_categories[1].tones[1].tone_name;\nmsg.params.context.confidentScore = msg.response.document_tone.tone_categories[1].tones[1].score.toFixed(3);\nmsg.params.context.tentativeName = msg.response.document_tone.tone_categories[1].tones[2].tone_name;\nmsg.params.context.tentativeScore = msg.response.document_tone.tone_categories[1].tones[2].score.toFixed(3);\n\nmsg.params.context.OpenName = msg.response.document_tone.tone_categories[2].tones[0].tone_name;\nmsg.params.context.OpenScore = msg.response.document_tone.tone_categories[2].tones[0].score.toFixed(3);\nmsg.params.context.conTitle = msg.response.document_tone.tone_categories[2].tones[1].tone_name;\nmsg.params.context.conScore = msg.response.document_tone.tone_categories[2].tones[1].score.toFixed(3);\nmsg.params.context.extName = msg.response.document_tone.tone_categories[2].tones[2].tone_name;\nmsg.params.context.extScore = msg.response.document_tone.tone_categories[2].tones[2].score.toFixed(3);\nmsg.params.context.agreeName = msg.response.document_tone.tone_categories[2].tones[3].tone_name;\nmsg.params.context.agreeScore = msg.response.document_tone.tone_categories[2].tones[3].score.toFixed(3);\nmsg.params.context.emoName = msg.response.document_tone.tone_categories[2].tones[4].tone_name;\nmsg.params.context.emoScore = msg.response.document_tone.tone_categories[2].tones[4].score.toFixed(3);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":578.0555725097656,"y":166.55553340911865,"wires":[["924b154c.c5c358"]]},{"id":"5fa734ec.66c3dc","type":"debug","z":"67ae22f3.f1d3ac","name":"","active":true,"console":"false","complete":"payload","x":503.5,"y":45,"wires":[]},{"id":"4d80e946.4cbfa8","type":"debug","z":"67ae22f3.f1d3ac","name":"","active":true,"console":"false","complete":"false","x":1080.5,"y":44,"wires":[]}]