UCG/Flows/SIP.json
[{"id":"caa58caf.2dd1f","type":"http in","z":"10da2c0a.e71e44","name":"SIP HTTP in","url":"/sip/v1/workspaces/e162651d-3bf1-4cdb-9b88-c700511eef66/message","method":"post","swaggerDoc":"","x":75,"y":118.4444465637207,"wires":[["429c4de5.27f8a4"]]},{"id":"cbdf2a64.42efa8","type":"watson-conversation-v1","z":"10da2c0a.e71e44","name":"Prod","workspaceid":"71fb6c7d-730c-45ea-94e5-e7704b0eb4ca","multiuser":false,"context":false,"x":725.111083984375,"y":342.8888854980469,"wires":[["36d0ca17.b2eefe","40484a83.8853e4"]]},{"id":"53c59337.4e9194","type":"http response","z":"10da2c0a.e71e44","name":"Http Response","x":1106.5000038146973,"y":204.3333330154419,"wires":[]},{"id":"429c4de5.27f8a4","type":"function","z":"10da2c0a.e71e44","name":"Set Params","func":"//  Sip gateway is controlling wcs context and workspace\n\nvar workspace_id = \"be10696f-c581-4c7b-a4b7-8cac928c3e56\";\nvar app = \"\";\nvar input = msg.payload.input.text;\nvar fname = \"Jane\"; \n\nif (input == \"\" ) {\n    input = \"Ask Me Please\"\n}    \n    \nif ((input == \"vgwHangUp\")||(input==\"cgwHangUp\")) {\n    input = \"goodbye from SIP\"\n} \n\nif ((input == \"vgwPostResponseTimeout\")||(input == \"cgwPostResponseTimeout\")) {\n    input = \"silence\"\n} \n\n\nvar context = msg.payload.context;\ncontext.fname = fname\n\nif (typeof context.vgwIsDTMF !== \"undefined\"){\n  if (context.vgwIsDTMF.trim().toUpperCase() == \"NO\") {\n      context.dtmfCount = 0\n      context.dtmfValue = \"\"\n  }\n  else {if (input.trim() ==\"#\" || input.trim() ==\"*\" ){\n          input = context.dtmfValue\n      }\n      else {\n          context.dtmfCount = context.dtmfCount + 1\n          context.dtmfValue.concat(dtmfValue)\n      }\n  }\n}\n\n\n\n\n\nif (input.trim().toUpperCase().substring(0,6) == \"ASK ME\"){\n    workspace_id = \"be10696f-c581-4c7b-a4b7-8cac928c3e56\";\n    app = \"InsureAssist\"; \n    global.set(\"app\",app);\n    global.set(\"workspace_id\",workspace_id);\n}\n\nif ((input.trim().toUpperCase().substring(0,5) == \"HELLO\") && (input.length > 5)){\nif (input.toUpperCase().match(/BANK/g)) {\n    workspace_id = \"e162651d-3bf1-4cdb-9b88-c700511eef66\";\n    app = \"BankAssist\";  \n    global.set(\"app\",app);\n    global.set(\"workspace_id\",workspace_id); \n} else if (input.toUpperCase().match(/INSURE/g)) {\n     workspace_id = \"be10696f-c581-4c7b-a4b7-8cac928c3e56\";\n    app = \"InsureAssist\"; \n    global.set(\"app\",app);\n    global.set(\"workspace_id\",workspace_id); \n} else if (input.toUpperCase().match(/CALL CENTER/g)) {\n     workspace_id = \"faf6e421-43ae-474a-8f9e-e8e10e71e3df\";\n    app = \"InsureCCAssist\"; \n    global.set(\"app\",app);\n    global.set(\"workspace_id\",workspace_id); \n} else if (input.toUpperCase().match(/MONEY/g)) {\n    workspace_id = \"8a43bb91-62b9-4f45-93c9-dee8075a49fa\";\n    app = \"WealthAssist\";\n    global.set(\"app\",app);\n    global.set(\"workspace_id\",workspace_id); \n} else if (input.toUpperCase().match(/DEMO/g)) {\n    workspace_id = \"d229233a-9b65-415d-855d-7edfc231f692\";\n    app = \"WealthTAssist\";\n    global.set(\"app\",app);\n    global.set(\"workspace_id\",workspace_id); \n} else if (input.toUpperCase().match(/HELLO METLIFE ASSIST/g)) {\n    workspace_id = \"5fd7c1c7-9ea2-4fc8-b6fa-7920e10aad5a\";\n    app = \"MetLifeAssist\";\n    global.set(\"app\",app);\n    global.set(\"workspace_id\",workspace_id); \n} else if (input.toUpperCase().match(/FIDELITY/g)) {\n    workspace_id = \"46975d17-120f-4757-8fe8-4a6649b3a257\";\n    app = \"FidelityAssist\";\n    global.set(\"app\",app);\n    global.set(\"workspace_id\",workspace_id); \n} else {\n    workspace_id = \"be10696f-c581-4c7b-a4b7-8cac928c3e56\";\n    app = \"InsureAssist\"; \n    global.set(\"app\",app);\n    global.set(\"workspace_id\",workspace_id); \n}\n}\n\n\nmsg.app = global.get(\"app\");\nvar workspace_id = global.get(\"workspace_id\");\n\nif (input.lastIndexOf('/') >= 0 ) {\n     var myindex = input.lastIndexOf('/')\n     node.log(\"index at: \" + myindex)\n     var dateString = input\n     node.log(\"dateString : \" + dateString)\n     \n     var d = new Date(dateString)\n     node.log(\"d : \" + d)\n     var now = new Date()\n     node.log(\"today: \" + now)\n     var years = now.getFullYear() - d.getFullYear()\n     node.log(\"years: \" + years)\n     \n     d.setFullYear(d.getFullYear() + years)\n     var days = (now.getTime() - d.getTime()) / (3600 * 24 * 1000.00)\n     node.log(\"days: \" + days)\n     var age = years + days /365\n    \n     context.age = Math.round(age *100)/100\n     node.log(\"age: \"+ context.age)\n \n     var d = new Date(dateString)\n     var now = new Date()\n     now.setMonth(\"12\")\n     now.setDate(\"31\")\n     var years = now.getFullYear() - d.getFullYear()\n     d.setFullYear(d.getFullYear() + years)\n     var days = (now.getTime() - d.getTime()) / (3600 * 24 * 1000.00)\n     var ageEOY = years + days /365\n     context.ageEOY = Math.round(ageEOY * 100)/100\n     node.log(\"ageEOY: \"+ context.ageEOY)\n     \n     var d = new Date(dateString)\n     var now = new Date()\n     now.setMonth(\"01\")\n     now.setDate(\"01\")\n     var years = now.getFullYear() - d.getFullYear()\n     d.setFullYear(d.getFullYear() + years)\n     var days = (now.getTime() - d.getTime()) / (3600 * 24 * 1000.00)\n     var ageBOY = years + days /365\n     context.ageBOY = Math.round(ageBOY * 100)/100\n     node.log(\"ageBOY: \"+ context.ageBOY)\n}\n\n       context.cgwPostResponseTimeoutCount = \"30000\"\n       context.cgwSessionInactivityTimeout = \"5\"\n       context.vgwPostResponseTimeoutCount = \"30000\"\n       context.vgwSessionInactivityTimeout = \"5\"\n       context.vgwAllowDTMF = \"YES\"\n\nvar params = {\n     context: context,\n     workspace_id : workspace_id \n}\n\n\nmsg.payload = input;\nmsg.params = params;\nreturn msg;","outputs":1,"noerr":0,"x":259.5,"y":116.4444465637207,"wires":[["cd8d2a47.978bf8","8edf849f.2a13f8"]]},{"id":"36d0ca17.b2eefe","type":"function","z":"10da2c0a.e71e44","name":"Response Msg","func":"var Watson_msg = JSON.stringify(msg.payload.output.text);\nvar Mymsg = Watson_msg.substring(2,Watson_msg.length-2);\n\n//Going forward, if you want to add buttons for convo for sip, use JSON only. NO []!!!!\n\nnode.log(\"start with \" + Mymsg);\n\nif (Mymsg.lastIndexOf(\"[\") >= 0 ) {\n     findindex = Mymsg.lastIndexOf(\"[\")\n     msg.payload.output.text = [Mymsg.substring(0,findindex-1)]\n     node.log(\"Found a buttons at index: \" + findindex)\n     node.log(msg.payload.output.text)\n} \nif (Mymsg.lastIndexOf(\"InsMap\") >= 0 ) {\n     findindex = Mymsg.lastIndexOf(\"InsMap\")\n     msg.payload.output.text = '[\"' + Mymsg.substring(0,findindex-1) + '\"]'\n     node.log(\"Found a maps at index: \"+ findindex)\n     node.log(msg.payload.output.text)\n} \n\n\nreturn msg;","outputs":1,"noerr":0,"x":918.944450378418,"y":288.7777671813965,"wires":[["53c59337.4e9194","d85b662.7a04c18","ecd235fc.d7222"]]},{"id":"d85b662.7a04c18","type":"debug","z":"10da2c0a.e71e44","name":"","active":true,"console":"false","complete":"payload.output.text","x":1133.0554733276367,"y":364.2222089767456,"wires":[]},{"id":"cd8d2a47.978bf8","type":"debug","z":"10da2c0a.e71e44","name":"","active":true,"console":"false","complete":"true","x":381.2778015136719,"y":37,"wires":[]},{"id":"8edf849f.2a13f8","type":"watson-tone-analyzer-v3","z":"10da2c0a.e71e44","name":"Tone","tones":"all","sentences":"true","contentType":"false","x":414.44446182250977,"y":119.55556106567383,"wires":[["16b0d299.ec1825"]]},{"id":"16b0d299.ec1825","type":"function","z":"10da2c0a.e71e44","name":"Add Tone","func":"\nnode.log(\"*********Found Tone ********\" + msg.response.document_tone.tone_categories[0].tones[0].tone_id);\nnode.log(\"*********Found Tone **Score*****\" + msg.response.document_tone.tone_categories[0].tones[0].score.toFixed(3));\n\nmsg.params.context.angerName = msg.response.document_tone.tone_categories[0].tones[0].tone_name;\nmsg.params.context.angerScore = msg.response.document_tone.tone_categories[0].tones[0].score.toFixed(3);\nmsg.params.context.disgustName = msg.response.document_tone.tone_categories[0].tones[1].tone_name;\nmsg.params.context.disgustScore = msg.response.document_tone.tone_categories[0].tones[1].score.toFixed(3);\nmsg.params.context.fearName = msg.response.document_tone.tone_categories[0].tones[2].tone_name;\nmsg.params.context.fearScore = msg.response.document_tone.tone_categories[0].tones[2].score.toFixed(3);\nmsg.params.context.joyName = msg.response.document_tone.tone_categories[0].tones[3].tone_name;\nmsg.params.context.joyScore = msg.response.document_tone.tone_categories[0].tones[3].score.toFixed(3);\nmsg.params.context.sadnessName = msg.response.document_tone.tone_categories[0].tones[4].tone_name;\nmsg.params.context.sadnessScore = msg.response.document_tone.tone_categories[0].tones[4].score.toFixed(3);\n\nmsg.params.context.analyticalName = msg.response.document_tone.tone_categories[1].tones[0].tone_name;\nmsg.params.context.analyticalScore = msg.response.document_tone.tone_categories[1].tones[0].score.toFixed(3);\nmsg.params.context.confidentName = msg.response.document_tone.tone_categories[1].tones[1].tone_name;\nmsg.params.context.confidentScore = msg.response.document_tone.tone_categories[1].tones[1].score.toFixed(3);\nmsg.params.context.tentativeName = msg.response.document_tone.tone_categories[1].tones[2].tone_name;\nmsg.params.context.tentativeScore = msg.response.document_tone.tone_categories[1].tones[2].score.toFixed(3);\n\nmsg.params.context.OpenName = msg.response.document_tone.tone_categories[2].tones[0].tone_name;\nmsg.params.context.OpenScore = msg.response.document_tone.tone_categories[2].tones[0].score.toFixed(3);\nmsg.params.context.conTitle = msg.response.document_tone.tone_categories[2].tones[1].tone_name;\nmsg.params.context.conScore = msg.response.document_tone.tone_categories[2].tones[1].score.toFixed(3);\nmsg.params.context.extName = msg.response.document_tone.tone_categories[2].tones[2].tone_name;\nmsg.params.context.extScore = msg.response.document_tone.tone_categories[2].tones[2].score.toFixed(3);\nmsg.params.context.agreeName = msg.response.document_tone.tone_categories[2].tones[3].tone_name;\nmsg.params.context.agreeScore = msg.response.document_tone.tone_categories[2].tones[3].score.toFixed(3);\nmsg.params.context.emoName = msg.response.document_tone.tone_categories[2].tones[4].tone_name;\nmsg.params.context.emoScore = msg.response.document_tone.tone_categories[2].tones[4].score.toFixed(3);\n\nreturn msg;","outputs":1,"noerr":0,"x":552.2221832275391,"y":121.77779293060303,"wires":[["77d0c10.c35ae4"]]},{"id":"77d0c10.c35ae4","type":"switch","z":"10da2c0a.e71e44","name":"","property":"app","propertyType":"msg","rules":[{"t":"eq","v":"WealthTAssist","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":530.5,"y":294,"wires":[["1b1d4990.f42746"],["cbdf2a64.42efa8"]]},{"id":"1b1d4990.f42746","type":"watson-conversation-v1","z":"10da2c0a.e71e44","name":"TWealth","workspaceid":"","multiuser":true,"context":false,"x":735.5,"y":261,"wires":[["36d0ca17.b2eefe"]]},{"id":"ecd235fc.d7222","type":"debug","z":"10da2c0a.e71e44","name":"","active":true,"console":"false","complete":"true","x":1098.5,"y":441,"wires":[]},{"id":"40484a83.8853e4","type":"debug","z":"10da2c0a.e71e44","name":"","active":true,"console":"false","complete":"payload","x":908.5,"y":532,"wires":[]}]