UCG/Flows/TwilioSMS.json
[{"id":"2ee083d7.b2e694","type":"http in","z":"6c9b06e6.c2ff58","name":"","url":"/twiliosms","method":"post","swaggerDoc":"","x":98,"y":78,"wires":[["65e95c49.12cccc"]]},{"id":"65e95c49.12cccc","type":"function","z":"6c9b06e6.c2ff58","name":"Set Params","func":"var workspace_id = msg.req.query.workspace_id;\nvar fname = msg.req.query.fname;\n\nvar user_temp = msg.payload.From;\nuser = user_temp.substring(user_temp.length-7, user_temp.length);\n\n//if (flow.get(msg.payload.From)){\n// msg.params.context = flow.get(msg.payload.From); \n//}\n\nflow.set ('From', msg.payload.From);\n\nvar params = {\n    workspace_id : workspace_id\n};\n\nvar additional_context = {\n    fname: fname\n};\n\n\nmsg.payload = msg.payload.Body;\nmsg.user = user;\nmsg.params = params;\nmsg.additional_context = additional_context;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":140,"wires":[["6a08b2d1.7e23c4","28377313.5ba574"]]},{"id":"3a2f7eb2.284432","type":"debug","z":"6c9b06e6.c2ff58","name":"Conversation Response.output","active":false,"console":"false","complete":"payload.output","x":818,"y":134,"wires":[]},{"id":"6a08b2d1.7e23c4","type":"debug","z":"6c9b06e6.c2ff58","name":"Conversation Request","active":true,"console":"false","complete":"true","x":534,"y":106,"wires":[]},{"id":"c9688ed5.e29898","type":"function","z":"6c9b06e6.c2ff58","name":"Response Msg","func":"var From = flow.get('From');\n\nvar Watson_msg = msg.payload;\nvar Watson_response = JSON.stringify(msg.payload.output.text.join());\nvar Watson_context = JSON.stringify(msg.payload.context);\nnode.log(Watson_response);\n\nMyresponse = Watson_response.substring(2,Watson_response.length-2);\n\n// Dennis added because SSML tag was escaping the \" with \\\" and the replace command fixes it!!!!\nMyresponse = Myresponse.replace(/\\\\/g, \"\");\n//Dennis - Remove XML SSML tags from chat systems\nMyresponse = Myresponse.replace(/<[^>]+>/g, \"\");\n\n\nnode.log(\"context-intents \" +  msg.payload.intents[0].intent + \" with confidence of \" + msg.payload.intents[0].confidence)\n\nmsg.topic = From;\nflow.set(From, msg.payload.context);\n\nmsg.payload = Watson_response;\nreturn msg;","outputs":1,"noerr":0,"x":789,"y":327,"wires":[["769d2d2b.989b44","131fa562.d63353","d9e216eb.961de","532d03f5.8cf4bc"]]},{"id":"769d2d2b.989b44","type":"debug","z":"6c9b06e6.c2ff58","name":"Responded via Twilio","active":true,"console":"false","complete":"true","x":1068,"y":264,"wires":[]},{"id":"532d03f5.8cf4bc","type":"twilio out","z":"6c9b06e6.c2ff58","service":"_ext_","twilio":"4e2da3a6.adb7d4","from":"","number":"","name":"","x":1063,"y":368,"wires":[]},{"id":"60c65db0.a4e5bc","type":"debug","z":"6c9b06e6.c2ff58","name":"Conversation Response.input","active":false,"console":"false","complete":"payload.input","x":821,"y":169,"wires":[]},{"id":"131fa562.d63353","type":"debug","z":"6c9b06e6.c2ff58","name":"msg.payload","active":true,"console":"false","complete":"payload","x":1040.5,"y":300,"wires":[]},{"id":"d9e216eb.961de","type":"debug","z":"6c9b06e6.c2ff58","name":"msg.topic","active":true,"console":"false","complete":"topic","x":1029.5,"y":334,"wires":[]},{"id":"fe411b9e.619e58","type":"debug","z":"6c9b06e6.c2ff58","name":"Conversation msg","active":false,"console":"false","complete":"true","x":779.5,"y":212,"wires":[]},{"id":"28377313.5ba574","type":"watson-conversation-v1","z":"6c9b06e6.c2ff58","name":"","workspaceid":"","multiuser":true,"context":true,"x":500.5,"y":176,"wires":[["3a2f7eb2.284432","60c65db0.a4e5bc","fe411b9e.619e58","c9688ed5.e29898"]]},{"id":"4e2da3a6.adb7d4","type":"twilio-api","z":"","sid":"AC01bb5650b0ed32794375e201a2ed542d","from":"+18442310002","name":""}]